# idris
build/
examples/build/
depends/
*.ttc
*.ttm

# haskell (legacy)
.stack-work/
dist-newstyle/
cabal.project.local
.ghc.environment.*
dist
*.o
*.hi
*.jsexe

# nix
result*

# emacs
*~

# darwin
.DS_Store

# misc
TAGS
tags
.direnv

# js
package-lock.json
node_modules/
coverage/

# typescript / generated js
ts/**/*.js
js/miso-lynx.js
dist/

# haddocks
haddocks/